:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

* {
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: inherit;
}

body { 
    background-color: hsl(0, 100%, 74%); 
    background-image:url(images/bg-intro-desktop.png);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px 40px 200px 40px;
    align-items: center;
}

.left-column, .right-column {
    width: 50%;
    flex-shrink: 0;
}

.right-column {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: center;
}

.left-column h2, .left-column p {
    padding-right: 90px;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    color:white;
}

p {
    font-size: 14px;
    margin-right: 20px;
    color: white;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.15);
    background: white;
    border:none;
    border-radius: 5px;
    width: 460px;
}

input, button {
    width: 80%;
    padding: 12px 20px;
    margin: 20px 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* flex-wrap: wrap; */
}

.input:first-child {
    margin-top: 10px;
}

.info {
    margin-bottom: 30px;
    text-align: center;
    font-size: 10px;
    flex-shrink: 0;
    width: 100%;
    color: hsl(246, 25%, 77%);
}

.trailer {
    background: hsl(248, 32%, 49%);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.15);
}

.trailer .first-span {
    font-weight: bolder;
}

.trailer .second-span {
    font-weight: 200;
}

button {
    color: white;
    background: hsl(154, 59%, 51%);
    cursor: pointer;
}

.info span {
    color: hsl(0, 100%, 74%);
    cursor: pointer;
    font-weight: 700;
}

form .input label {
    font-size: 13px;
    font-style: italic;
    display: none;
    align-self: flex-end;
    margin: 10px 25px 0;
    color: var(--red);
}

.error-icon {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 40px;
}
/*
    build responsive
*/
@media (max-width: 500px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-column, .right-column {
        width: 100%;
        flex-shrink: 1;
    }

    .left-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-column p {
        margin-bottom: 50px;
    }

    .left-column h2, .left-column p {
        padding-right: 0px;
        margin-right: 0px;
        width: 100%;
    }

    form {
        width: 100%;
    }

    input {
        margin: 7px 1em;
    }

    .info {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 10px;
        width: 70%;
    }
}